doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/paper/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-2.2.0.min.js')
    script(src='/javascripts/vendor/async.min.js')
    script(src='/javascripts/vendor/aws-s3-sdk.min.js')
    script(src='/javascripts/index.js')
  body
    block content